# EditorConfig helps maintain consistent coding styles between different editors and IDEs
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{json,js,ts,mjs,cjs,md,yml,yaml}]
indent_style = tab
indent_size = 2
tab_width = 2
trim_trailing_whitespace = true

[*.{md,yml,yaml}]
trim_trailing_whitespace = false
